.navbar {
  padding: 0 18%;
}


.spacer {
  flex: 1 1 auto;
}

.checkout-body {

  display: flex;
  flex-wrap: wrap;

  padding: 0 18%;
  gap: 1rem;
  margin-top: 1rem;
}

.delivery-payment {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 900px) {
    width: 100%;
  }
}




.logo {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  // cursor: default; // TEMPORARY, until link acc does something

  .logo-image {
    max-height: 100%;
    padding: 10px;
  }

  .logo-text {
    line-height: 1.4rem;
  }
}

.title-bar {
  padding-top: 50px;
  padding-bottom: 50px;
  // margin-left: 120px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: left;
  align-items: stretch;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.credit-card-number {
  width: 100%;
}

.border {
  border: solid #000
}

.dropdown {
  margin-right: 15px;
}

.costs {
  flex: 1 1 0;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.checkout-button {
  margin-left: 14px;
  width: 250px;
  height: 35px;
  font-size: large;
}