<div class="list list-drag-component" (dragover)="allowCardReplacement($event)" (drop)="dropCard($event)"
  id="list-{{listIndex}}" style="margin-top: 15px; border-radius: 10px;">
  <mat-card-title class=" list-name" style="padding-top: 10px; font-size: 20px">{{list.name}} </mat-card-title>

  <!-- List Card Starts -->
  <div class="list-one" style="overflow:auto; ">
    <app-card-summary *ngFor="let card of this.list.cards;let i = index" [card]="card" [listIndex]="listIndex"
      [cardIndex]="i" attr.cardIndex="{{i}}"></app-card-summary>
  </div>
  <!-- List Card Ends -->
  <!-- <h6 class="text-center add-new-card" (click)="addNewCard()">Add new card...</h6> -->

</div>
