<mat-toolbar class="navbar" color="primary">
  <a class="logo" [routerLink]="['/manager']">
    <img class="logo-image" src="./assets/apple-white-transparent.png" />
    <span class="logo-text">Apple <br />
      Factory</span>
  </a>
  <span class="spacer"></span>
  <div class="cart">
    <button [matMenuTriggerFor]="cartDropDown" mat-icon-button>
      <mat-icon class="icon" aria-hidden="false" aria-label="Cart">shopping_cart</mat-icon>
    </button>
    <span>{{getNumberOfItems()}}</span>
    <mat-menu class="cart-modal" #cartDropDown="matMenu" xPosition="before">
      <div style="padding-bottom: 10px">
        <div class="centered" style="
            width: 100%;
            padding-bottom: 5px;
            padding-top: 10px;
            border-bottom: solid black 2px;
          ">
          <div class="cart-title">Cart</div>
        </div>
        <div class="centered">
          <div *ngFor="let item of cartItems; index as i" class="cart-entry">
            <div style="padding-bottom: 5px">
              <div style="display: flex; flex-direction: row">
                <p style="font-size: large; font-weight: 400">
                  {{ item.name }}
                </p>
                <p style="font-size: medium; font-weight: 600; padding-left: 3px">
                  x {{ item.count }}
                </p>
              </div>
              <img style="width: 40%; height: auto" src="{{ item.imageUrl }}" />
            </div>
            <div style="justify-content: center; position: relative">
              <p style="font-size: large; font-weight: 600">
                ${{ (item.price * item.count).toFixed(2) }}
              </p>
              <div style="
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  padding-right: 5px;
                  padding-bottom: 5px;
                ">
                <button (click)="$event.stopPropagation(); removeItemFromCart(item)" mat-mini-fab class="delete-button">
                  X
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="centered" style="
          font-size: large;
          font-weight: 450;
          background-color: #ffd740;
          border-radius: 5px;
          padding: 5px;
        " [routerLink]="['/cart']" mat-menu-item>
        Go to Cart
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<div>
  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onChangeTab($event)">
    <mat-tab label="All"></mat-tab>
    <mat-tab label="Favourites"></mat-tab>
    <mat-tab label="Popular"></mat-tab>
    <mat-tab *ngFor="let category of foodCategories" label="{{ category }}"></mat-tab>
  </mat-tab-group>
  <div class="filters">
    <mat-form-field style="width: 20%">
      <mat-label>Search</mat-label>
      <input type="text" placeholder="Search" aria-label="Search" matInput [formControl]="searchControl"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let name of searchableNames | async" [value]="name">
          {{ name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <mat-select [formControl]="dietaryFilters" multiple (selectionChange)="filterItems()">
        <mat-select-trigger>
          {{dietaryFilters.value?.[0] || ''}}
          <span *ngIf="(dietaryFilters.value?.length || 0) > 1" class="example-additional-selection">
            (+{{ (dietaryFilters.value?.length || 0) - 1 }}
            {{ dietaryFilters.value?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let filter of dietaryRestrictions" [value]="filter">{{ filter }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select [(value)]="sortOption" (selectionChange)="filterItems()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let option of sortOptions" [value]="option">{{
          option
          }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="grid-list">
    <div class="grid-card" *ngFor="let item of currentItems">
      <app-card class="card" [item]="item" (onFavourite)="toggleFavourite($event)"></app-card>
    </div>
  </div>
</div>