.navbar {
    padding: 0 32px;
}


.cart {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.spacer {
    flex: 1 1 auto;
}

.logo-image {
    max-height: 100%;
    padding: 10px;
}

.logo-text {
    line-height: 1.4rem;
}