.navbar {
  padding: 0 18%;
}

.cart {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  // cursor: default; // TEMPORARY, until link acc does something

  .logo-image {
    max-height: 100%;
    padding: 10px;
  }

  .logo-text {
    line-height: 1.4rem;
  }
}

.cart-modal {
  width: 100em;
  max-width: none !important;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.cart-entry {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  border-bottom: solid black 1px;
  width: 100%;
  justify-content: space-between;
}

.cart-title {
  color: black;
  font-size: x-large;
  font-weight: 500;
}

.delete-button {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  height: 2em !important;
  width: 2em !important;
  font-size: large !important;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.card {
  height: 100%;
  overflow: hidden;
}

.grid-list {
  margin: 0 18%;
}

.filters {
  mat-form-field+mat-form-field {
    margin-left: 10px;
  }

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;

  .search {
    min-width: 400px;
  }
}

.grid-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.grid-card {
  height: 400px;
  width: 280px;
}