<mat-card class="card-manager" draggable="true" (dragstart)="identifyCardBeingDragged($event)"
  id="list-{{listIndex}}-card-{{cardIndex}}" attr.listIndex="{{listIndex}}" attr.cardIndex="{{cardIndex}}"
  (dragover)="allowCardDragToBeDropped($event)" style="border-radius: 10px">
  <mat-card-title style="font-size: 18px;">{{card.header}}</mat-card-title>
  <mat-selection-list>
    <mat-list-option (click)="selChange(item)" *ngFor="let item of card.items" style="height: 40px;"
      [selected]="item.selected" [disabled]="timeCompleted">
      <div class="row">
        <div class="col-lg-1" style="padding-left: 0;">
          <mat-chip-list [style.opacity]="item.selected ?'0.4' : '1' ">
            <mat-chip>{{item.count}}</mat-chip>
          </mat-chip-list>
        </div>
        <div class="col" style="padding-top: 7px; padding-left: 22px;"
          [style.opacity]="item.selected && !timeCompleted ?'0.4' : '1' ">
          {{item.item}}
        </div>

      </div>
    </mat-list-option>
  </mat-selection-list>


  <mat-card-subtitle *ngIf="!timeCompleted" style="padding-top: 20px">Time left: {{ (counter - (counter % 60)) / 60 }}
    mins & {{ counter % 60 }} secs
  </mat-card-subtitle>

  <mat-card-subtitle *ngIf="timeCompleted" style="padding-top: 20px">Time completed:
    {{ timeCompleted | date:'shortTime' }}
  </mat-card-subtitle>


  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
  <mat-progress-bar [class]="  
     counter <= 0 ? 'red-c' :
    (card.timeToComplete - counter)/card.timeToComplete * 100 < 50 ? 'blue-c' :  
    (card.timeToComplete - counter)/card.timeToComplete * 100 < 75 ? 'yellow-c': 
    (card.timeToComplete - counter)/card.timeToComplete * 100 < 100 ? 'orange-c':  '' " mode="determinate"
    value="{{ timeCompleted ? 100: (card.timeToComplete*60 - counter)/(card.timeToComplete*60) * 100}}">

  </mat-progress-bar>

</mat-card>