<h1>Cart</h1>

<!-- Items -->
<div class="float-container">
  <div class="float-child">
    <app-cart-item-large
      *ngFor="let item of cartItems; index as i"
      [CartItem] = item
        [index] = i
        (itemToDelete) = removeCartItem($event)>
    </app-cart-item-large>
    <div *ngIf="cartItems.length == 0">
      <h2>Cart Empty</h2>
    </div>
  </div>

  <!-- Payment and Subtotal -->
  <div>
    <h1>Payment</h1>
    <div *ngFor="let item of cartItems">

    </div>
  </div>




</div>
