.navbar {
  padding: 0 32px;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  // cursor: default; // TEMPORARY, until link acc does something

  .logo-image {
      max-height: 100%;
      padding: 10px;
  }

  .logo-text {
      line-height: 1.4rem;
  }
}

.center {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  height: auto;
}

.homeicon {
  height:27px;
  margin-left: -7px;
}

.checkcontainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.check {
  background-color:white;
  color: green;
  transform: scale(2);
}
.map {
  width: 25%;
  height: 25%;
  border-radius: 5px;
}
