<mat-card class="menu-card">
  <div>
    <mat-chip-list class="calories">
      <mat-chip> {{ item.calories }} Cal </mat-chip>
    </mat-chip-list>
    <button
      class="favorite"
      (click)="toggleFavourite()"
      mat-icon-button
      color="accent"
      aria-label="Button to favorite this menu item"
    >
      <mat-icon class="star-icon">{{
        item.isFavorite ? "star" : "star_border"
      }}</mat-icon>
    </button>
  </div>
  <img
    mat-card-image
    class="image"
    src="{{ item.imageUrl }}"
    alt="Photo of the menu item"
  />
  <div class="info-content">
    <div class="spaced-row">
      <h2 class="mat-h2">{{ item.name }}</h2>
      <h2 class="mat-h2" style="color: #f44336">${{ item.price }}</h2>
    </div>
    <mat-card-content>
      <p>
        {{ item.description }}
      </p>
    </mat-card-content>
  </div>
  <mat-card-actions class="last-object">
    <div class="wrapper">
      <button *ngIf="count > 1" class="plusminus" (click)="handleMinus()">
        -
      </button>
      <button *ngIf="count <= 1" class="plusminus grey">-</button>

      <input
        type="number"
        class="num"
        value="1"
        min="1"
        oninput="validity.valid||(value='');"
        [(ngModel)]="count"
      />
      <button class="plusminus" (click)="handlePlus()">+</button>
    </div>

    <div class="actions spaced-row">
      <mat-chip-list>
        <mat-chip *ngFor="let tag of item.tags" color="accent" selected>
          {{ tag }}
        </mat-chip>
      </mat-chip-list>

      <!-- <mat-form-field [formGroup]="menuForm" class="end-row">
        <input type="number" class="form-control" matInput name="item-amount" placeholder="Amount to add" value="1"
          min="1" formControlName="itemAmount" />
      </mat-form-field> -->

      <button style="width: 80px;" mat-raised-button color="primary" (click)="addToCart()">
        Add
      </button>
    </div>
  </mat-card-actions>
</mat-card>
